.connectedSortable {
    min-height: 10rem;
    border: .05rem solid #ccc;
    display: flex;
}

.connectedSortable> ::ng-deep div {
    width: unset;
    max-width: unset;
    padding: 0.25rem;
    margin: 0.25rem;
}