ul> ::ng-deep li {
    list-style-type: none;
    margin: .25rem;
    padding: .25rem;
}

ul> ::ng-deep .ui-state-highlight::before {
    content: '>';
    padding: .25rem;
    display: block;
    color: #fffa90
    /*{bgColorHighlight}*/
    /*{bgImgUrlHighlight}*/
    /*{bgHighlightXPos}*/
    /*{bgHighlightYPos}*/
    /*{bgHighlightRepeat}*/
    ;
}

ul> ::ng-deep .ui-state-highlight {
    list-style-type: none;
}